<div class="top-bar">

  <div class="top-bar-left">
    <ul class="menu">
      <div class="menu-text">
        <strong>bdgtr</strong>
      </div>

      <li><%= link_to "Create a New Category", new_category_path %></li>
      </ul>
  </div>
</div>
<hr>
<div class="row small-up-2 medium-up-4 large-up-6 align-spaced">

  <% @categories.each do |category| %>
  <%
  i = 0
  avg = 0
  category.charges.each do |charge|
    i = i + 1
    avg = avg + charge.amount
    category.cat_average = avg / i
  end
  %>

  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h4><%= category.cat_name %></h4>
      </div>
      <div class="card-section">
        <p>Current average is <%= category.cat_average %></p>
        <p>Your budget is <%= category.cat_budget %></p>
        <%= link_to category.cat_name, category_path(category), class: 'button medium' %>
      </div>
    </div>
  </div>

  <% end %>

</div>
