<%= link_to "< back to categories", categories_path, class: 'new_article' %>
<div class="page-header">
<h1><%= @category.cat_name %></h1>
</div>
<%= link_to "delete this category", category_path(@category.id), method: :delete, data: {confirm: "Really delete the category?"} %>
<h4>Current Average: <%= @category.cat_average %> Budget: <%= @category.cat_budget %></h4>
<h4>New Charge:</h4>
<%= form_for [ @category, @charge ] do |f| %>
<p>
  <%= f.label :merch, "Merchant" %><br/>
  <%= f.text_field :merch %>
</p>
<p>
  <%= f.label :desc, "Description" %><br/>
  <%= f.text_area :desc %>
</p>
<p>
  <%= f.label :amount, "Amount" %><br/>
  <%= f.text_area :amount %>
</p>
<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>
<div>
  <h4>Charges:</h4>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Merchant</th>
      <th>Delete</th>
    </tr>
    <% @category.charges.reverse.each do |charge| %>
    <tr>
      <td><%= charge.date %></td>
      <td><%= charge.amount %></td>
      <td><%= charge.desc %></td>
      <td><%= charge.merch %></td>
      <td><%= link_to "delete", category_charge_path(@category.id, charge.id), method: :delete, data: {confirm: "Really delete the charge?"} %></td>
    </tr>
    <% end %>
  </table>
</div>
