<div class="row">
  <div class="shrink columns">
    <h1>Login</h1>
  </div>
</div>

<div class="row">
  <div class="shrink columns">
    <%= form_tag user_sessions_path, method: :post do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <br/>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br/>
    </div>
    <div class="actions">
      <%= submit_tag( "Login", class: "button" ) %>
    </div>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="shrink columns">
<p>Don't have an account?</p>
<%= link_to "Register", new_user_path, class: "button hollow" %>
</div>
</div>
